<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dormmom.flutter_twilio_voice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <application android:name=".App">

        <activity
            android:name=".BackgroundCallJavaActivity"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:excludeFromRecents="true"
            android:taskAffinity=".BackgroundCallJavaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:turnScreenOn="true" />

        <service
            android:name=".IncomingCallNotificationService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>


</manifest>
